@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
}

.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
  padding-top: 6.1vh;
  padding-left: 11.4vw;
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.marvel-bg {
  position: absolute;
  top: 19.5%;
  left: 8.3%;
  opacity: 0.5;
  width: 700px;
  z-index: 1;
  user-select: none;
  pointer-events: none;
}
.character {
  position: absolute;
  top: 0;
  right: 14.5%;
  height: 100%;
  z-index: 2;
  user-select: none;
}
.character-wrapper {
  position: relative;
  height: 100%;
  z-index: 2;
}
.character-img {
  position: relative;
  height: 100%;
  object-fit: contain;
  z-index: 2;
  pointer-events: none;
}
.character-bg {
  position: absolute;
  top: 0;
  right: 0;
  width: 82.5%;
  height: 100%;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./assets/spiderman-bg.png);
  background-size: contain;
  clip-path: polygon(36.5% 0, 100% 0, 100% 100%, 0 100%);
  z-index: 1;
}
.tilt-bg {
  position: absolute;
  top: 0;
  right: 0;
  width: 30.5%;
  height: 100%;
  background: #ed1d24;
  clip-path: polygon(51.3% 0, 100% 0, 100% 100%, 0 100%);
  z-index: 3;
  overflow: hidden;
  background-image: radial-gradient(
      circle,
      rgba(255, 255, 255, 0.5) 1px,
      transparent 1px
    ),
    repeating-conic-gradient(
      from 0deg,
      rgba(255, 255, 255, 0.05) 0deg 10deg,
      transparent 10deg 20deg
    );
  background-size: 50px 50px, 100% 100%;
}
.spider-up {
  top: 16%;
  left: 62%;
  rotate: 45deg;
}
.brandnewday {
  top: 50%;
  left: 65%;
  width: 50% !important;
  border-radius: 10px;
}
.spider-down {
  bottom: 15.5%;
  right: 54.5%;
  rotate: -130deg;
}
.spider-up,
.spider-down,
.brandnewday {
  width: 30%;
  user-select: none;
  position: absolute;
  pointer-events: none;
  transform: translate(-50%, -50%);
  animation: float 4s ease-in-out infinite;
}
@keyframes float {
  0%,
  100% {
    transform: translate(-50%, -50%) translateY(0);
  }
  50% {
    transform: translate(-50%, -50%) translateY(-5px);
  }
}
.hero-content {
  max-width: 380px;
  display: flex;
  flex-direction: column;
  gap: 17rem;
}
.logo {
  width: 120px;
  margin-bottom: 28px;
  user-select: none;
}
.breadcrumb {
  font-size: 12.5px;
  color: #777;
  font-family: "Montserrat", sans-serif;
}
.breadcrumb-bold {
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
}
.breadcrumb::selection {
  background: #333;
  color: #fff;
}
.hero-content h1 {
  padding-top: 2px;
  font-size: 38px;
  color: #e50914;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  line-height: 104.6%;
}
.hero-content h1::selection {
  background: #e50914;
  color: #fff;
}
.hero-content p {
  margin: 0;
  padding: 10px 0px 0px 2px;
  max-width: 360px;
  font-size: 12.9px;
  color: #000;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.hero-content p::selection {
  background: #333;
  color: #fff;
}
.social-icons {
  padding-top: 42px;
  display: flex;
  gap: 45px;
  align-items: center;
  user-select: none;
}
.fb,
.insta,
.yt,
.github,
.linkedin {
  cursor: pointer;
  transition: transform 0.3s ease;
}
.fb {
  width: 10px;
  height: 18px;
}
.insta {
  width: 17px;
  height: 17px;
}
.yt {
  width: 20px;
  height: 16px;
  padding-top: 2px;
}
.github {
  width: 18px;
  height: 18px;
}
.linkedin {
  width: 18px;
  height: 18px;
  border-radius: 3px;
}
.fb:hover {
  transform: scale(1.15);
}
.insta:hover,
.yt:hover,
.github:hover,
.linkedin:hover {
  transform: scale(1.1);
}

@media (max-width: 1024px) {
  .character,
  .character-wrapper,
  .character-img,
  .character-bg,
  .tilt-bg,
  .spider-up,
  .brandnewday,
  .spider-down {
    display: none;
  }
  .marvel-bg {
    top: 19%;
    left: 6.5%;
    width: 400px;
  }
  .hero {
    padding-left: 5.5vw;
  }
  .hero-content {
    gap: 14rem;
  }
  .logo {
    width: 100px;
  }
  .breadcrumb {
    font-size: 10px;
  }
  .hero-content h1 {
    font-size: 32px;
  }
  .hero-content p {
    padding: 8px 0px 0px 2px;
    max-width: 310px;
    font-size: 10px;
  }
  .social-icons {
    padding-top: 36px;
    gap: 40px;
  }
  .fb {
    width: 7px;
    height: 14px;
  }
  .insta {
    width: 13px;
    height: 13px;
  }
  .yt {
    width: 14px;
    height: 12px;
  }
  .github {
    width: 14px;
    height: 14px;
  }
  .linkedin {
    width: 14px;
    height: 14px;
  }
}

@media (min-width: 1024px) and (max-width: 1199px) {
  .character,
  .character-wrapper,
  .character-img,
  .character-bg,
  .tilt-bg,
  .spider-up,
  .brandnewday,
  .spider-down {
    display: block;
  }
  .marvel-bg {
    left: 2%;
    width: 600px;
  }
  .character-wrapper {
    transform: translate(55px);
  }
  .character-bg {
    right: -10%;
    width: 83.5%;
    clip-path: polygon(36% 0, 100% 0, 100% 100%, 0 100%);
  }
  .tilt-bg {
    width: 27.5%;
    clip-path: polygon(66% 0, 100% 0, 100% 100%, 0 100%);
    background-image: radial-gradient(
        circle,
        rgba(255, 255, 255, 0.5) 2px,
        transparent 2px
      ),
      repeating-conic-gradient(
        from 0deg,
        rgba(255, 255, 255, 0.05) 0deg 10deg,
        transparent 10deg 20deg
      );
  }
  .hero {
    padding-left: 5.5vw;
  }
  .hero-content {
    gap: 14.2rem;
  }
  .logo {
    width: 105px;
  }
  .breadcrumb {
    font-size: 11px;
  }
  .hero-content h1 {
    font-size: 33px;
  }
  .hero-content p {
    padding: 8px 0px 0px 2px;
    max-width: 310px;
    font-size: 11px;
  }
  .social-icons {
    padding-top: 36px;
    gap: 40px;
  }
  .fb {
    width: 9px;
    height: 16px;
  }
  .insta {
    width: 15px;
    height: 15px;
  }
  .yt {
    width: 18px;
    height: 16px;
  }
  .github {
    width: 16px;
    height: 16px;
  }
  .linkedin {
    width: 16px;
    height: 16px;
  }
}

@media (min-width: 1200px) and (max-width: 1799px) {
  .marvel-bg {
    left: 3.5%;
  }
  .character-wrapper {
    transform: translate(45px);
  }
  .character-bg {
    right: -6%;
    width: 82%;
    clip-path: polygon(36.5% 0, 100% 0, 100% 100%, 0 100%);
  }
  .tilt-bg {
    width: 28.5%;
    clip-path: polygon(61% 0, 100% 0, 100% 100%, 0 100%);
    background-image: radial-gradient(
        circle,
        rgba(255, 255, 255, 0.5) 2px,
        transparent 2px
      ),
      repeating-conic-gradient(
        from 0deg,
        rgba(255, 255, 255, 0.05) 0deg 10deg,
        transparent 10deg 20deg
      );
  }
  .hero {
    padding-left: 7.1vw;
  }
  .hero-content {
    gap: 16.5rem;
  }
  .logo {
    width: 120px;
  }
  .breadcrumb {
    font-size: 12.5px;
  }
  .hero-content h1 {
    font-size: 37px;
  }
  .hero-content p {
    padding: 10px 0px 0px 2px;
    max-width: 350px;
    font-size: 12.5px;
  }
  .social-icons {
    padding-top: 48px;
    gap: 44px;
  }
  .fb {
    width: 10px;
    height: 20px;
  }
  .insta {
    width: 18px;
    height: 18px;
  }
  .yt {
    width: 20px;
    height: 16px;
  }
  .github {
    width: 18px;
    height: 18px;
  }
  .linkedin {
    width: 18px;
    height: 18px;
    border-radius: 3px;
  }
}

@media (min-width: 1800px) {
  .marvel-bg {
    left: 3.5%;
    width: 100%;
    max-width: 1000px;
  }
  .character-wrapper {
    transform: translate(150px);
  }
  .character-bg {
    right: -10%;
    width: 83%;
    clip-path: polygon(36% 0, 100% 0, 100% 100%, 0 100%);
  }
  .tilt-bg {
    width: 27%;
    clip-path: polygon(67% 0, 100% 0, 100% 100%, 0 100%);
    background-image: radial-gradient(
        circle,
        rgba(255, 255, 255, 0.5) 2px,
        transparent 2px
      ),
      repeating-conic-gradient(
        from 0deg,
        rgba(255, 255, 255, 0.05) 0deg 10deg,
        transparent 10deg 20deg
      );
  }
  .hero {
    padding-left: 5.1vw;
  }
  .hero-content {
    max-width: 1000px;
    gap: 40rem;
  }
  .logo {
    width: 260px;
  }
  .breadcrumb {
    font-size: 27px;
  }
  .hero-content h1 {
    font-size: 82px;
  }
  .hero-content p {
    padding: 24px 0px 0px 2px;
    max-width: 800px;
    font-size: 28px;
  }
  .social-icons {
    padding-top: 100px;
    gap: 100px;
  }
  .fb {
    width: 20px;
    height: 36px;
  }
  .insta {
    width: 40px;
    height: 40px;
  }
  .yt {
    width: 42px;
    height: 36px;
  }
  .github {
    width: 40px;
    height: 40px;
  }
  .linkedin {
    width: 40px;
    height: 40px;
    border-radius: 3px;
  }
}
